body {
  background-color: rgb(02, 07, 27);
  display: grid;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  place-items: center;
}

.card {
  background-color: rgb(193, 185, 185);
  border-radius: 10px;
  height: 250px;
  position: relative;
  width: 400px;
}

.card-content {
  background-color: rgb(193, 185, 185);
  border-radius: inherit;
  inset: 1px;
  position: absolute;
}